@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 15px;
  font-size: 16px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.header {
  display: flex;
  justify-content: space-between;
}


.left-links, .right-links {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  display: flex;
  gap: 15px;
}

a {
  text-decoration: none;
  color: rgb(87, 87, 87);
}


.content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  margin-top: 20px;
  margin-bottom: 15px;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #eeeeee;
}