/* Add CSS Styling */


.odd {
    background-color: rgb(255, 177, 177);
    font-family: verdana, "dejaVu sans", sans-serif;
}

#two {
    color: blue;
    font-size: 36px;
}

.three {
    font-size: 32px;
}

#four {
    background-color: rgb(125, 253, 125);
    font-size: 24px;
    font-weight: bold;
}