body {
  background: #dadada;
  font-family: sans-serif;
  box-sizing: border-box;
}

.card {
  width: 400px;
  background: #fff;
  padding: 16px;
  margin-right: auto;
  margin-left: auto;
}

.title {
  background: #d8efff;
  padding: 6px;
  margin: 0px;
  font-size: 20px;
}

.content {
  background: #d8efff;
  padding: 16px;
  margin: 10px auto;
}

.button-container {
  background: #d8efff;
  text-align: center;
  padding: 20px;

}

button {
  background: white;
  border: 1px solid #eee;
  padding: 10px 20px;
  font-size: 16px;
}